.p-Home.Flex2 {
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 20px;
padding-bottom: 30px;
cursor: initial;
font-size: 18px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Div4 {
;
}
.p-Home.Flex4 {
display: flex;
align-items: center;
color: #696969;
background-color: ;
row-gap: ;
column-gap: 30px;
}
.p-Home.Flex5 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex6 {
display: flex;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Flex7 {
display: flex;
font-size: 40px;
row-gap: 20px;
flex-grow: 1;
align-content: flex-start;
padding-top: 100px;
padding-left: 150px;
flex-direction: column;
}
.p-Home.Flex9 {
display: flex;
flex-direction: column;
}
.p-Home.Div5 {
width: 70%;
}
.p-Home.Flex10 {
display: flex;
row-gap: ;
flex-direction: row;
column-gap: 30px;
}
.p-Home.Flex8 {
display: flex;
background-color: #FF7629;
}
.p-Home.Flex11 {
display: flex;
justify-content: center;
padding-top: 75px;
font-family: DM Sans;
font-weight: 700;
font-size: 21px;
flex-direction: column;
align-items: center;
row-gap: 20px;
}
.p-Home.Flex18 {
display: flex;
column-gap: 60px;
}
.p-Home.Flex23 {
display: flex;
flex-direction: column;
padding-top: 150px;
justify-content: flex-start;
align-items: center;
row-gap: 40px;
padding-bottom: 100px;
}
.p-Home.Flex24 {
display: flex;
column-gap: 30px;
align-items: stretch;
row-gap: ;
border-radius: ;
border-color: ;
border-width: ;
border-style: none;
}
.p-Home.Flex25 {
display: flex;
column-gap: 30px;
flex-direction: column;
row-gap: 20px;
padding-top: 40px;
padding-bottom: 40px;
border-color: #cecece;
border-radius: 15px;
border-style: solid;
align-items: center;
}
.p-Home.Flex29 {
display: flex;
column-gap: 30px;
flex-direction: column;
row-gap: 20px;
padding-top: 40px;
padding-bottom: 40px;
border-color: #cecece;
border-radius: 15px;
border-style: solid;
align-items: center;
}
.p-Home.Flex33 {
display: flex;
column-gap: 30px;
flex-direction: column;
row-gap: 20px;
padding-top: 40px;
padding-bottom: 40px;
border-color: #cecece;
border-radius: 15px;
border-style: solid;
align-items: center;
}
.p-Home.Flex34 {
display: flex;
column-gap: 30px;
flex-direction: column;
row-gap: 20px;
padding-top: 40px;
padding-bottom: 40px;
border-color: #cecece;
border-radius: 15px;
border-style: solid;
align-items: center;
}
.p-Home.Flex35 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex37 {
display: flex;
padding-top: 150px;
padding-left: 150px;
align-items: flex-start;
justify-content: center;
background-color: #FFF9F3;
row-gap: ;
column-gap: 190px;
}
.p-Home.Flex38 {
display: flex;
align-items: center;
padding-bottom: 200px;
width: 40%;
box-sizing: content-box;
justify-content: flex-start;
align-content: stretch;
}
.p-Home.Flex39 {
display: flex;
background-color: #ffffff;
flex-direction: column;
padding-left: 50px;
padding-right: 20px;
padding-top: 50px;
padding-bottom: 50px;
position: relative;
border-radius: 25px;
row-gap: 20px;
font-family: DM Sans;
font-weight: 500;
top: 200px;
right: 300px;
box-sizing: border-box;
overflow: visible;
float: none;
clear: none;
}
.p-Home.Flex40 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex41 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex42 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex43 {
display: flex;
flex-grow: 1;
align-items: flex-start;
padding-top: 100px;
flex-direction: column;
row-gap: 25px;
width: 40%;
}
.p-Home.Flex44 {
display: flex;
row-gap: ;
column-gap: 30px;
}
.p-Home.Flex46 {
display: flex;
padding-top: 150px;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 20px;
}
.p-Home.Flex53 {
display: flex;
width: ;
flex-direction: column;
row-gap: ;
column-gap: 25px;
}
.p-Home.Flex55 {
display: flex;
width: ;
column-gap: 25px;
}
.p-Home.Flex56 {
display: flex;
column-gap: 20px;
width: ;
}
.p-Home.Flex58 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
height: ;
}
.p-Home.Flex59 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
top: 60px;
left: 60px;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: ;
}
.p-Home.Flex61 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
height: ;
}
.p-Home.Flex60 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
top: 60px;
left: 60px;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: ;
}
.p-Home.Flex74 {
display: flex;
column-gap: 20px;
width: ;
}
.p-Home.Flex72 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
height: ;
}
.p-Home.Flex70 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
top: 60px;
left: 60px;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: ;
}
.p-Home.Flex73 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
height: ;
}
.p-Home.Flex71 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
top: 60px;
left: 60px;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: ;
}
.p-Home.Flex96 {
display: flex;
width: ;
column-gap: 25px;
}
.p-Home.Flex94 {
display: flex;
column-gap: 20px;
width: ;
}
.p-Home.Flex90 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
height: ;
}
.p-Home.Flex86 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
top: 60px;
left: 60px;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: ;
}
.p-Home.Flex91 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
height: ;
}
.p-Home.Flex87 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
top: 60px;
left: 60px;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: ;
}
.p-Home.Flex95 {
display: flex;
column-gap: 20px;
width: ;
}
.p-Home.Flex92 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
height: ;
}
.p-Home.Flex88 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
top: 60px;
left: 60px;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: ;
}
.p-Home.Flex93 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
height: ;
}
.p-Home.Flex89 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
top: 60px;
left: 60px;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: ;
}
.p-Home.Flex47 {
display: flex;
justify-content: center;
padding-bottom: 200px;
}
.p-Home.Flex108 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex48 {
display: flex;
justify-content: flex-start;
}
.p-Home.Flex109 {
display: flex;
flex-direction: column;
background-color: #FF7629;
align-items: flex-start;
justify-content: center;
padding-top: 90px;
padding-bottom: 100px;
row-gap: 33px;
padding-left: 150px;
box-sizing: border-box;
}
.p-Home.Flex111 {
display: flex;
row-gap: ;
column-gap: 30px;
}
.p-Home.Flex110 {
display: flex;
}
.p-Home.Flex112 {
display: flex;
}
.p-Home.Flex49 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
padding-top: 150px;
padding-bottom: 150px;
}
.p-Home.Flex113 {
display: flex;
}
.p-Home.Flex114 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 50px;
}
.p-Home.Flex115 {
display: flex;
}
.p-Home.Flex118 {
display: flex;
}
.p-Home.Flex116 {
display: flex;
}
.p-Home.Flex117 {
display: flex;
padding-bottom: 40px;
flex-direction: column;
width: 50%;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
row-gap: 10px;
box-sizing: border-box;
border-radius: 5px;
border-color: #d5d5d5;
border-style: solid;
}
.p-Home.Flex119 {
display: flex;
column-gap: 8px;
}
.p-Home.Flex120 {
display: flex;
}
.p-Home.Flex121 {
display: flex;
}
.p-Home.Flex122 {
display: flex;
}
.p-Home.Flex123 {
display: flex;
}
.p-Home.Flex124 {
display: flex;
}
.p-Home.Flex125 {
display: flex;
padding-top: 10px;
column-gap: 25px;
align-items: center;
}
.p-Home.Flex126 {
display: flex;
flex-direction: column;
row-gap: 2px;
}
.p-Home.Flex127 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex50 {
display: flex;
padding-top: 150px;
background-color: #FFF9F3;
padding-left: 100px;
padding-right: 100px;
flex-direction: column;
width: 100%;
padding-bottom: 100px;
box-sizing: border-box;
}
.p-Home.Flex128 {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
padding-bottom: 30px;
}
.p-Home.Flex130 {
display: flex;
top: 20px;
right: 20px;
bottom: 20px;
left: 20px;
border-radius: 35px;
background-color: #ffffff;
}
.p-Home.Flex129 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex131 {
display: flex;
flex-direction: column;
width: 50%;
row-gap: 10px;
border-radius: 35px;
background-color: #fffefe;
}
.p-Home.Flex132 {
display: flex;
width: 60%;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex138 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex139 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
border-radius: 35px;
padding-bottom: 20px;
background-color: #fffefe;
}
.p-Home.Flex140 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
border-radius: 35px;
padding-bottom: 20px;
background-color: #fffefe;
}
.p-Home.Flex143 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex141 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
border-radius: 35px;
padding-bottom: 20px;
background-color: #fffefe;
}
.p-Home.Flex142 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
border-radius: 35px;
padding-bottom: 20px;
background-color: #fffefe;
}
.p-Home.Flex51 {
display: flex;
}
.p-Home.Flex144 {
display: flex;
align-items: flex-start;
width: 50%;
padding-top: 100px;
padding-bottom: 100px;
background-color: #FF7629;
}
.p-Home.Flex152 {
display: flex;
flex-direction: column;
background-color: #ffffff;
padding-left: 50px;
padding-right: 50px;
padding-top: 80px;
row-gap: 30px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
padding-bottom: 30px;
position: relative;
right: 140px;
border-radius: 40px;
border-style: solid;
border-color: #d9d4d4;
width: 100%;
}
.p-Home.Flex154 {
display: flex;
column-gap: 20px;
width: 300px;
row-gap: 0px;
flex-direction: row;
}
.p-Home.Flex155 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex158 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex161 {
display: flex;
column-gap: 20px;
width: 300px;
row-gap: 0px;
flex-direction: row;
}
.p-Home.Flex159 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex160 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex164 {
display: flex;
column-gap: 20px;
width: 300px;
row-gap: 0px;
flex-direction: row;
}
.p-Home.Flex162 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex163 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex167 {
display: flex;
column-gap: 20px;
width: 300px;
row-gap: 0px;
flex-direction: row;
}
.p-Home.Flex165 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex145 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
row-gap: 20px;
padding-top: 100px;
padding-bottom: 100px;
padding-left: 150px;
width: 50%;
}
.p-Home.Flex147 {
display: flex;
column-gap: 25px;
width: 50%;
justify-content: center;
align-items: center;
}
.p-Home.Flex150 {
display: flex;
column-gap: 25px;
width: 50%;
justify-content: flex-start;
align-items: center;
}
.p-Home.Flex151 {
display: flex;
column-gap: 25px;
width: 50%;
justify-content: flex-start;
align-items: center;
}
.p-Home.Flex52 {
display: flex;
padding-left: 100px;
padding-right: 100px;
padding-top: 150px;
align-items: center;
flex-direction: column;
padding-bottom: 150px;
}
.p-Home.Flex168 {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
padding-bottom: 30px;
}
.p-Home.Flex169 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex171 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex173 {
display: flex;
row-gap: ;
column-gap: 20px;
}
.p-Home.Flex176 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex177 {
display: flex;
padding-top: 100px;
padding-left: 150px;
padding-right: 150px;
column-gap: 40px;
padding-bottom: 50px;
justify-content: space-between;
}
.p-Home.Flex178 {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 13px;
width: 40%;
}
.p-Home.Flex187 {
display: flex;
column-gap: 8px;
}
.p-Home.Flex182 {
display: flex;
}
.p-Home.Flex183 {
display: flex;
}
.p-Home.Flex184 {
display: flex;
}
.p-Home.Flex185 {
display: flex;
}
.p-Home.Flex186 {
display: flex;
}
.p-Home.Flex181 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex179 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex180 {
display: flex;
row-gap: ;
column-gap: 20px;
}
.p-Home.Flex188 {
display: flex;
}
.p-Home.Flex189 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
flex-direction: column;
align-items: flex-start;
row-gap: 10px;
padding-left: 5px;
padding-right: 5px;
}
.p-Home.Flex192 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
flex-direction: column;
align-items: flex-start;
row-gap: 10px;
padding-left: 5px;
padding-right: 5px;
}
.p-Home.Image3 {
cursor: pointer;
}
.p-Home.TextBox12 {
cursor: pointer;
}
.p-Home.TextBox13 {
cursor: pointer;
}
.p-Home.TextBox14 {
cursor: pointer;
}
.p-Home.TextBox16 {
cursor: pointer;
}
.p-Home.TextBox17 {
cursor: pointer;
}
.p-Home.Button5 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.Button6 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox18 {
color: #000000;
}
.p-Home.TextBox20 {
color: #FF7629;
}
.p-Home.TextBox21 {
font-size: 18px;
color: #757575;
}
.p-Home.Button9 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button10 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.Image4 {
width: 400px;
border-radius: 50px;
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;
position: relative;
right: 200px;
}
.p-Home.TextBox22 {
;
}
.p-Home.Image13 {
;
}
.p-Home.Image14 {
;
}
.p-Home.Image15 {
;
}
.p-Home.Image16 {
;
}
.p-Home.TextBox23 {
font-size: 25px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image17 {
;
}
.p-Home.TextBox24 {
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
align-self: center;
}
.p-Home.TextBox25 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox26 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629;
align-self: center;
}
.p-Home.TextBox36 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629;
align-self: center;
}
.p-Home.TextBox37 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox38 {
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
align-self: center;
}
.p-Home.Image21 {
;
}
.p-Home.TextBox45 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629;
align-self: center;
}
.p-Home.TextBox46 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox47 {
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
align-self: center;
}
.p-Home.Image24 {
;
}
.p-Home.TextBox48 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629;
align-self: center;
}
.p-Home.TextBox49 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox50 {
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
align-self: center;
}
.p-Home.Image25 {
;
}
.p-Home.Button12 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button13 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.Image26 {
width: 460px;
border-width: ;
border-radius: 30px;
overflow: visible;
}
.p-Home.TextBox51 {
;
}
.p-Home.Image30 {
;
}
.p-Home.TextBox52 {
width: 50%;
color: #8d8d8d;
}
.p-Home.TextBox53 {
width: 50%;
color: #8d8d8d;
}
.p-Home.Image31 {
;
}
.p-Home.TextBox54 {
width: 50%;
color: #8d8d8d;
}
.p-Home.Image32 {
;
}
.p-Home.TextBox55 {
width: 80%;
font-family: DM Sans;
font-weight: 400;
z-index: 2;
}
.p-Home.TextBox56 {
width: 80%;
font-family: DM Sans;
font-weight: 400;
}
.p-Home.TextBox57 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.Button14 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
z-index: 2;
}
.p-Home.Button15 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox58 {
width: 70%;
color: #727272;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox59 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.Image33 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox61 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox62 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox60 {
;
}
.p-Home.TextBox64 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox65 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image34 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox63 {
;
}
.p-Home.Image38 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox77 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox78 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox75 {
;
}
.p-Home.TextBox79 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox80 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image39 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox76 {
;
}
.p-Home.Image44 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox97 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox98 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox93 {
;
}
.p-Home.TextBox99 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox100 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image45 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox94 {
;
}
.p-Home.Image46 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox101 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox102 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox95 {
;
}
.p-Home.TextBox103 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox104 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image47 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox96 {
;
}
.p-Home.Button18 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
z-index: 2;
}
.p-Home.Button19 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox117 {
font-family: DM Sans;
font-weight: 700;
font-size: 38px;
color: #ffffff;
max-width: ;
width: 100%;
}
.p-Home.TextBox118 {
font-family: DM Sans;
font-weight: 500;
color: #fffafa;
max-width: ;
font-size: 16px;
}
.p-Home.Button20 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button21 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
}
.p-Home.Image52 {
width: 100%;
}
.p-Home.TextBox120 {
text-align: center;
font-family: DM Sans;
font-weight: ;
}
.p-Home.TextBox121 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox119 {
color: #727272;
font-family: DM Sans;
font-weight: 500;
width: ;
text-align: center;
}
.p-Home.Image57 {
width: 50px;
height: 50px;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
border-radius: 50px;
background-color: #FF7629;
}
.p-Home.Image55 {
width: 50px;
height: 50px;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
border-radius: 50px;
background-color: #FF7629;
}
.p-Home.TextBox122 {
font-family: DM Sans;
font-weight: 500;
font-size: 24px;
}
.p-Home.TextBox123 {
;
}
.p-Home.Image58 {
width: 30px;
height: 30px;
}
.p-Home.Image59 {
width: 30px;
height: 30px;
}
.p-Home.Image60 {
width: 30px;
height: 30px;
}
.p-Home.Image61 {
width: 30px;
height: 30px;
}
.p-Home.Image62 {
width: 30px;
height: 30px;
}
.p-Home.Image63 {
width: 50px;
height: 50px;
border-radius: 50%;
}
.p-Home.TextBox124 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox126 {
font-family: DM Sans;
font-weight: 400;
}
.p-Home.Button22 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button23 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
z-index: 2;
}
.p-Home.TextBox127 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox129 {
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
padding-left: 20px;
border-radius: 35px;
}
.p-Home.Image64 {
width: 100%;
height: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox130 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #8f8f8f;
padding-left: 20px;
padding-bottom: 30px;
padding-right: 10px;
}
.p-Home.TextBox131 {
font-family: DM Sans;
font-weight: 700;
font-size: 26px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox132 {
font-family: DM Sans;
font-weight: 400;
font-size: 15px;
color: #737373;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.Image66 {
width: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox136 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox137 {
font-family: DM Sans;
font-weight: 400;
font-size: 15px;
color: #737373;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox138 {
font-family: DM Sans;
font-weight: 400;
font-size: 15px;
color: #737373;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox139 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.Image67 {
width: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.Image68 {
width: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox140 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox141 {
font-family: DM Sans;
font-weight: 400;
font-size: 15px;
color: #737373;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox142 {
font-family: DM Sans;
font-weight: 400;
font-size: 15px;
color: #737373;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox143 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.Image69 {
width: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.Button24 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
z-index: 2;
box-sizing: content-box;
align-self: flex-start;
}
.p-Home.TextBox153 {
;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
width: ;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox156 {
;
}
.p-Home.TextBox157 {
;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox158 {
;
}
.p-Home.TextBox159 {
;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input8 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox160 {
;
}
.p-Home.TextBox161 {
;
}
.p-Home.Input9 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
width: 200%;
height: 200px;
text-align: center;
}
.p-Home.TextBox146 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox147 {
color: #727171;
font-family: DM Sans;
font-weight: 500;
width: 50%;
text-align: left;
font-size: 16px;
}
.p-Home.TextBox148 {
width: ;
color: #717070;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image70 {
width: 30px;
height: 30px;
}
.p-Home.Image73 {
width: 30px;
height: 30px;
}
.p-Home.TextBox151 {
width: ;
color: #717070;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image74 {
width: 30px;
height: 30px;
}
.p-Home.TextBox152 {
width: ;
color: #717070;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox164 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.Button25 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
z-index: 2;
box-sizing: content-box;
align-self: flex-start;
}
.p-Home.Image75 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image78 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image79 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image80 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image81 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image82 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image88 {
;
}
.p-Home.TextBox165 {
width: 100%;
color: #727272;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image89 {
width: 30px;
height: 30px;
}
.p-Home.Image90 {
width: 30px;
height: 30px;
}
.p-Home.Image91 {
width: 30px;
height: 30px;
}
.p-Home.Image92 {
width: 30px;
height: 30px;
}
.p-Home.Image93 {
width: 30px;
height: 30px;
}
.p-Home.Image83 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image84 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image85 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image86 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.TextBox166 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-Home.TextBox167 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox168 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox169 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox170 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox171 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox172 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox173 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox190 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox191 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox192 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox193 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox194 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox195 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox196 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Home.TextBox197 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
